@import 'simplemde/dist/simplemde.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
.editor-toolbar button {
  margin-right: 20px;
  color: #242424;
}
.markdown-body {
  background-color: #0a345f !important; 
  padding: 1rem;
  border-radius: 8px;
}
